@{
    ViewData["Title"] = "Home Page";
}


        <style>
            body {
                background-image: url("plasticFruit.jpg");
            }
            .center {
                text-align: center;
            }
        </style>
        <div class="text-center">
            <h1 class="display-4">Welcome to the Plastic Fruit Store</h1>
            <a asp-controller="Home" asp-action="Login">Log In</a>
            <br />
            <a asp-controller="Customer" asp-action="Create">New Customer?</a>

        </div>
