@using Microsoft.AspNetCore.Http;
@using StoreModels;
@using System.Text.Json;

@{
    ViewData["Title"] = "CustomerLoggedIn";
    Customer customer = JsonSerializer.Deserialize<Customer>(Context.Session.GetString("customerData"));
}

<style>
    .center {
        text-align: center;
    }
</style>

<script>
    function send(value) {
        document.getElementById("storeToPass").value = value
    }
</script>



<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Would you like to view your order history or shop?</h1>
    </div>

            @{
                ViewBag.Customer = customer;
            }


                <div class="center">

                    <form><button type="submit" asp-controller="Customer" asp-action="StoreSelector">Go to the Shop</button></form>
                </div>

                <div class="center">

                    <form><button type="submit" asp-controller="Customer" asp-action="CustomerOrderHistory">View Orders</button></form>
                </div>

</main>