
@{
    ViewData["Title"] = "ManagerPage";
}

<h1>ManagerPage</h1>
<br />
<br />
<p>This is where the managers functions will go.</p>
<ul>
    <li>
        Check location Orders
    </li>
    <li>
        Manage location Inventories
    </li>
</ul>