@using Microsoft.AspNetCore.Http
@using StoreModels;
@using System.Text.Json;
@{
    ViewData["Title"] = "Browse Products";
    Location l = JsonSerializer.Deserialize<Location>(Context.Session.GetString("storeSelection"));
}

<style>
    .center {
        text-align: center;
    }
</style>

@{
    ViewBag.Location = l;
}



<div>
    <div class="container">
        <form class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3" asp-action="AddToCart">
            <input type="hidden" name="cartProduct" id="ProductForCart" value="" />

            <div class="row">
                <div class="col-12">
                    How many?<input type="number" name="quantity" id="addCount">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary" onclick="cartSubmit(1)">Grapes</button>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary" onclick="cartSubmit(2)">Banana</button>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary" onclick="cartSubmit(3)">Apple</button>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary" onclick="cartSubmit(4)">Orange</button>
                </div>
            </div>
        </form>
    </div>
</div>
<a asp-controller="Customer" asp-action="Cart">Checkout</a>

<div class="center">

    <form><button type="submit" asp-controller="Customer" asp-action="LocationOrderHistory">View Orders</button></form>
</div>



<script>
    function cartSubmit(value) {
        document.getElementById("ProductForCart").value = value
    }
</script>