@using Microsoft.AspNetCore.Http
@using StoreModels;
@using System.Text.Json;
@{
    ViewData["Title"] = "StoreSelector";
    Customer customer = JsonSerializer.Deserialize<Customer>(Context.Session.GetString("customerData"));

}

<style>
    button {
        text-align: center;
    }
</style>

<section class="py-5 text-center container">

        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Select a store location</h1>

        </div>
</section>


        <form  method="post" asp-action="StartShopping">
            <input type="hidden" name="store" id="storeToPass" value="" />

            <div class="col-12">
                
                    <button class="card shadow-sm" type="submit" onclick="send(1)">
                        Fruit Town
                    </button>
                
            </div>

            <div class="col-12">
                
                    <button class="card shadow-sm" type="submit" onclick="send(2)">
                        Ye Olde Fruit Store
                    </button>
                
            </div>

            <div class="col-12">
                
                    <button class="card shadow-sm" type="submit" onclick="send(3)">
                        Le Frut
                    </button>
                
            </div>

        </form>


<script>
    function send(value) {
        document.getElementById("storeToPass").value = value
    }
</script>